# Capstone Project - The Battle of Neighborhoods

## Introduction

Over the last five years, crime rates in London have increased by over 23%. A total of 15,590 knife crimes were reported across London from 2019-2020. The concentration of crimes across different London boroughs should be considered by commercial and residential real estate agents, as well as anybody looking to buy or rent a home in the city. Hence, this report is of interest to anyone that fulfils such criteria. 

The business problem we are faced with is: which parts of London are safe and attractive for residential buyers/renters across various demographic groups. To solve this problem, we will assess the crime rates in each of the London boroughs, and cluster neighborhoods to assess the venues on offer, such as pubs, cafes and parks.

## Data

The data that will be used to assess the best residential areas in London is: (1) the Metropolitan Police Service (MPS) Borough Level Crime from August 2018 to July 2020 (https://data.london.gov.uk), and (2) Foursquare venue data.

The headings from the MPS Borough Level Crime data are: MajorText, MinorText, LookUp_Borough and 24 separate columns for the 24 months of crime data. The major and minor text describe the accused crime, for example “violence against the person” and “violence with injury”. In order to analyse this data, we must sum the 24 columns to find the total crime levels in each borough. We must then group the data by Borough, which we will refer to as the ‘Address’.

## Methodology

The methodology section will consist of five sections covering the exploratory data analysis, statistical testing and machine learning involved in the project.

I. Downloading and exploring the dataset

II.	Exploring neighborhoods in London

III. Analysing each neighbourhood

IV. Clustering neighborhoods

V. Examining clusters

In [1]:
import numpy as np
import pandas as pd
import datetime as dt # Datetime
import json # library to handle JSON files
import requests # library to handle requests
from pandas.io.json import json_normalize # tranform JSON file into a pandas dataframe
# Matplotlib and associated plotting modules
import matplotlib.cm as cm
import matplotlib.colors as colors
print('Libraries imported.')

Libraries imported.

### Downloading and exploring the dataset

Loading the data and transforming it into a *pandas* dataframe

In [2]:
# Read the data for examination (Source: https://data.london.gov.uk/dataset/recorded_crime_summary)
df_mps = pd.read_csv("https://data.london.gov.uk/download/recorded_crime_summary/d2e9ccfc-a054-41e3-89fb-53c2bc3ed87a/MPS%20Borough%20Level%20Crime%20%28most%20recent%2024%20months%29.csv")

In [3]:
df_mps.head(5)

,MajorText,MinorText,LookUp_BoroughName,201808,201809,201810,201811,201812,201901,201902,...,201910,201911,201912,202001,202002,202003,202004,202005,202006,202007
0,Arson and Criminal Damage,Arson,Barking and Dagenham,5,3,8,5,1,5,2,...,9,8,6,4,5,6,2,2,4,3
1,Arson and Criminal Damage,Criminal Damage,Barking and Dagenham,101,107,132,105,88,97,127,...,109,97,121,97,103,107,80,86,121,121
2,Burglary,Burglary - Business and Community,Barking and Dagenham,18,33,32,39,33,45,24,...,30,30,25,31,17,28,29,16,16,28
3,Burglary,Burglary - Residential,Barking and Dagenham,84,99,94,106,164,114,107,...,97,114,130,116,123,97,57,41,63,72
4,Drug Offences,Drug Trafficking,Barking and Dagenham,7,10,9,7,4,5,2,...,8,12,3,14,5,6,12,13,11,20

In [4]:
df_mps.shape

(1568, 27)

Renaming the columns

In [5]:
# Assign meaningful column names
df_mps.columns = ['Major_Crime', 'Minor_Crime', 'Address', 'Jul_18', 'Aug_18', 'Sep_18', 'Oct_18', 'Nov_18',\
                  'Dec_18', 'Jan_19', 'Feb_19', 'Mar_19', 'Apr_19', 'May_19', 'Jun_19', 'Jul_19', 'Aug_19',\
                  'Sep_19', 'Oct_19', 'Nov_19', 'Dec_19', 'Jan_20', 'Feb_20', 'Mar_20', 'Apr_20', 'May_20', 'Jun_20']

In [6]:
df_mps

,Major_Crime,Minor_Crime,Address,Jul_18,Aug_18,Sep_18,Oct_18,Nov_18,Dec_18,Jan_19,...,Sep_19,Oct_19,Nov_19,Dec_19,Jan_20,Feb_20,Mar_20,Apr_20,May_20,Jun_20
0,Arson and Criminal Damage,Arson,Barking and Dagenham,5,3,8,5,1,5,2,...,9,8,6,4,5,6,2,2,4,3
1,Arson and Criminal Damage,Criminal Damage,Barking and Dagenham,101,107,132,105,88,97,127,...,109,97,121,97,103,107,80,86,121,121
2,Burglary,Burglary - Business and Community,Barking and Dagenham,18,33,32,39,33,45,24,...,30,30,25,31,17,28,29,16,16,28
3,Burglary,Burglary - Residential,Barking and Dagenham,84,99,94,106,164,114,107,...,97,114,130,116,123,97,57,41,63,72
4,Drug Offences,Drug Trafficking,Barking and Dagenham,7,10,9,7,4,5,2,...,8,12,3,14,5,6,12,13,11,20
5,Drug Offences,Possession of Drugs,Barking and Dagenham,70,72,64,75,69,79,74,...,88,94,79,98,106,107,145,180,192,115
6,Miscellaneous Crimes Against Society,Bail Offences,Barking and Dagenham,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
7,Miscellaneous Crimes Against Society,Bigamy,Barking and Dagenham,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
8,Miscellaneous Crimes Against Society,Dangerous Driving,Barking and Dagenham,2,1,0,2,1,1,0,...,2,1,2,2,0,2,0,2,3,2
9,Miscellaneous Crimes Against Society,"Disclosure, Obstruction, False or Misleading S...",Barking and Dagenham,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
10,Miscellaneous Crimes Against Society,Exploitation of Prostitution,Barking and Dagenham,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,0
11,Miscellaneous Crimes Against Society,Fraud or Forgery Associated with Driver Records,Barking and Dagenham,0,0,1,0,0,2,0,...,1,0,0,0,0,0,1,0,0,0
12,Miscellaneous Crimes Against Society,Going Equipped for Stealing,Barking and Dagenham,1,0,0,0,0,0,1,...,2,0,0,0,0,1,1,1,0,0
13,Miscellaneous Crimes Against Society,Handling Stolen Goods,Barking and Dagenham,1,0,1,5,0,2,1,...,0,3,0,5,4,1,2,3,2,2
14,Miscellaneous Crimes Against Society,"Making, Supplying or Possessing Articles for u...",Barking and Dagenham,0,2,0,2,1,0,2,...,0,1,0,1,1,1,1,0,0,0
15,Miscellaneous Crimes Against Society,Obscene Publications,Barking and Dagenham,4,3,6,5,6,6,12,...,10,15,7,14,4,8,17,6,17,13
16,Miscellaneous Crimes Against Society,Other Forgery,Barking and Dagenham,0,0,0,1,1,0,0,...,0,3,1,0,0,0,1,1,1,0
17,Miscellaneous Crimes Against Society,Other Notifiable Offences,Barking and Dagenham,4,1,1,1,2,1,2,...,2,1,0,2,1,0,2,0,5,4
18,Miscellaneous Crimes Against Society,Perjury,Barking and Dagenham,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
19,Miscellaneous Crimes Against Society,Perverting Course of Justice,Barking and Dagenham,3,0,2,0,0,0,5,...,1,2,2,1,0,0,0,1,1,2
20,Miscellaneous Crimes Against Society,Possession of False Documents,Barking and Dagenham,0,2,0,1,0,1,2,...,0,0,0,0,0,0,2,0,0,1
21,Miscellaneous Crimes Against Society,Profitting From or Concealing Proceeds of Crime,Barking and Dagenham,0,1,1,1,0,0,0,...,2,1,1,2,0,1,2,1,3,1
22,Miscellaneous Crimes Against Society,Threat or Possession With Intent to Commit Cri...,Barking and Dagenham,4,7,6,3,4,4,3,...,5,1,5,5,7,1,3,7,8,1
23,Miscellaneous Crimes Against Society,Wildlife Crime,Barking and Dagenham,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
24,Possession of Weapons,Other Firearm Offences,Barking and Dagenham,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,0
25,Possession of Weapons,Possession of Article with Blade or Point,Barking and Dagenham,7,7,14,6,7,5,5,...,6,5,3,11,3,4,5,5,9,7
26,Possession of Weapons,Possession of Firearm with Intent,Barking and Dagenham,0,0,0,0,2,2,2,...,0,0,0,0,1,1,0,1,0,0
27,Possession of Weapons,Possession of Firearms Offences,Barking and Dagenham,1,0,2,2,0,1,0,...,3,2,0,5,0,2,3,1,2,1
28,Possession of Weapons,Possession of Other Weapon,Barking and Dagenham,10,16,6,10,4,3,5,...,6,5,4,8,1,8,6,9,10,8
29,Public Order Offences,"Other Offences Against the State, or Public Order",Barking and Dagenham,10,11,8,11,14,7,8,...,13,14,17,10,10,22,17,21,21,15
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1538,Miscellaneous Crimes Against Society,Other Forgery,Westminster,2,7,3,13,13,16,7,...,7,5,4,4,6,5,2,0,2,2
1539,Miscellaneous Crimes Against Society,Other Notifiable Offences,Westminster,2,3,2,3,1,1,2,...,0,0,0,1,0,0,2,1,2,0
1540,Miscellaneous Crimes Against Society,Perverting Course of Justice,Westminster,3,1,6,1,1,1,1,...,2,4,0,2,1,2,2,4,4,1
1541,Miscellaneous Crimes Against Society,Possession of False Documents,Westminster,2,0,2,5,1,3,1,...,2,1,2,3,0,2,0,0,2,2
1542,Miscellaneous Crimes Against Society,Profitting From or Concealing Proceeds of Crime,Westminster,3,2,2,2,2,1,1,...,2,2,0,0,2,2,1,1,2,0
1543,Miscellaneous Crimes Against Society,Threat or Possession With Intent to Commit Cri...,Westminster,2,4,2,5,1,3,2,...,24,1,1,5,8,5,1,3,7,2
1544,Possession of Weapons,Other Firearm Offences,Westminster,0,0,1,0,0,0,0,...,1,0,0,0,0,0,0,0,0,0
1545,Possession of Weapons,Possession of Article with Blade or Point,Westminster,22,16,14,12,15,12,18,...,18,20,13,21,7,17,8,11,11,8
1546,Possession of Weapons,Possession of Firearm with Intent,Westminster,0,2,2,0,2,1,2,...,1,3,0,1,0,0,1,0,1,0
1547,Possession of Weapons,Possession of Firearms Offences,Westminster,13,6,7,7,8,4,3,...,4,10,14,11,7,2,1,1,4,0
1548,Possession of Weapons,Possession of Other Weapon,Westminster,25,11,16,12,25,10,11,...,11,12,21,18,11,9,4,14,4,6
1549,Public Order Offences,"Other Offences Against the State, or Public Order",Westminster,22,22,32,35,32,17,35,...,31,22,31,31,27,30,18,17,30,17
1550,Public Order Offences,Public Fear Alarm or Distress,Westminster,164,165,172,187,166,163,170,...,202,166,184,183,162,150,120,120,148,209
1551,Public Order Offences,Racially or Religiously Aggravated Public Fear...,Westminster,56,75,52,69,80,72,63,...,68,58,63,54,78,67,36,46,77,95
1552,Public Order Offences,Violent Disorder,Westminster,1,1,1,2,0,0,0,...,0,0,0,0,1,0,0,0,19,4
1553,Robbery,Robbery of Business Property,Westminster,13,11,21,14,11,15,16,...,13,16,20,14,15,16,2,3,6,9
1554,Robbery,Robbery of Personal Property,Westminster,235,259,292,325,403,318,325,...,359,314,429,350,322,216,46,35,91,128
1555,Sexual Offences,Other Sexual Offences,Westminster,76,55,62,69,55,54,59,...,52,68,58,57,63,60,23,36,39,57
1556,Sexual Offences,Rape,Westminster,54,34,33,32,30,23,18,...,35,31,45,43,34,26,18,21,25,35
1557,Theft,Bicycle Theft,Westminster,145,154,134,95,75,92,101,...,131,92,77,110,94,78,55,105,190,198
1558,Theft,Other Theft,Westminster,1250,1265,1461,1613,1876,1845,1853,...,1986,1983,2265,1551,1853,1044,131,185,306,713
1559,Theft,Shoplifting,Westminster,387,363,382,409,364,391,383,...,403,366,359,435,379,233,102,69,136,221
1560,Theft,Theft from Person,Westminster,737,685,875,1157,1492,1169,1554,...,1367,1321,1531,1299,1481,906,61,52,136,351
1561,Vehicle Offences,Aggravated Vehicle Taking,Westminster,2,0,1,2,0,2,1,...,1,1,3,1,1,0,2,0,1,2
1562,Vehicle Offences,Interfering with a Motor Vehicle,Westminster,34,34,48,48,43,62,67,...,40,36,37,42,41,34,27,27,19,53
1563,Vehicle Offences,Theft from a Motor Vehicle,Westminster,223,258,316,290,274,356,287,...,352,300,382,317,345,230,58,100,168,273
1564,Vehicle Offences,Theft or Taking of a Motor Vehicle,Westminster,66,70,75,52,36,65,48,...,56,58,53,75,56,53,32,40,35,54
1565,Violence Against the Person,Homicide,Westminster,0,0,1,0,0,1,0,...,0,0,0,1,0,0,0,0,0,1
1566,Violence Against the Person,Violence with Injury,Westminster,333,315,309,310,365,326,288,...,328,364,363,297,276,258,127,237,355,253
1567,Violence Against the Person,Violence without Injury,Westminster,603,541,559,550,617,515,526,...,661,606,630,531,564,517,340,441,451,559

Finding the sum of the 24 months of crime data

In [7]:
# Create total of number columns
df_mps['Total_Crime'] = df_mps.sum(numeric_only=True, axis=1)

In [8]:
df_mps

,Major_Crime,Minor_Crime,Address,Jul_18,Aug_18,Sep_18,Oct_18,Nov_18,Dec_18,Jan_19,...,Oct_19,Nov_19,Dec_19,Jan_20,Feb_20,Mar_20,Apr_20,May_20,Jun_20,Total_Crime
0,Arson and Criminal Damage,Arson,Barking and Dagenham,5,3,8,5,1,5,2,...,8,6,4,5,6,2,2,4,3,116
1,Arson and Criminal Damage,Criminal Damage,Barking and Dagenham,101,107,132,105,88,97,127,...,97,121,97,103,107,80,86,121,121,2681
2,Burglary,Burglary - Business and Community,Barking and Dagenham,18,33,32,39,33,45,24,...,30,25,31,17,28,29,16,16,28,681
3,Burglary,Burglary - Residential,Barking and Dagenham,84,99,94,106,164,114,107,...,114,130,116,123,97,57,41,63,72,2301
4,Drug Offences,Drug Trafficking,Barking and Dagenham,7,10,9,7,4,5,2,...,12,3,14,5,6,12,13,11,20,199
5,Drug Offences,Possession of Drugs,Barking and Dagenham,70,72,64,75,69,79,74,...,94,79,98,106,107,145,180,192,115,2362
6,Miscellaneous Crimes Against Society,Bail Offences,Barking and Dagenham,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
7,Miscellaneous Crimes Against Society,Bigamy,Barking and Dagenham,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
8,Miscellaneous Crimes Against Society,Dangerous Driving,Barking and Dagenham,2,1,0,2,1,1,0,...,1,2,2,0,2,0,2,3,2,29
9,Miscellaneous Crimes Against Society,"Disclosure, Obstruction, False or Misleading S...",Barking and Dagenham,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
10,Miscellaneous Crimes Against Society,Exploitation of Prostitution,Barking and Dagenham,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,1
11,Miscellaneous Crimes Against Society,Fraud or Forgery Associated with Driver Records,Barking and Dagenham,0,0,1,0,0,2,0,...,0,0,0,0,0,1,0,0,0,8
12,Miscellaneous Crimes Against Society,Going Equipped for Stealing,Barking and Dagenham,1,0,0,0,0,0,1,...,0,0,0,0,1,1,1,0,0,15
13,Miscellaneous Crimes Against Society,Handling Stolen Goods,Barking and Dagenham,1,0,1,5,0,2,1,...,3,0,5,4,1,2,3,2,2,49
14,Miscellaneous Crimes Against Society,"Making, Supplying or Possessing Articles for u...",Barking and Dagenham,0,2,0,2,1,0,2,...,1,0,1,1,1,1,0,0,0,19
15,Miscellaneous Crimes Against Society,Obscene Publications,Barking and Dagenham,4,3,6,5,6,6,12,...,15,7,14,4,8,17,6,17,13,209
16,Miscellaneous Crimes Against Society,Other Forgery,Barking and Dagenham,0,0,0,1,1,0,0,...,3,1,0,0,0,1,1,1,0,20
17,Miscellaneous Crimes Against Society,Other Notifiable Offences,Barking and Dagenham,4,1,1,1,2,1,2,...,1,0,2,1,0,2,0,5,4,35
18,Miscellaneous Crimes Against Society,Perjury,Barking and Dagenham,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
19,Miscellaneous Crimes Against Society,Perverting Course of Justice,Barking and Dagenham,3,0,2,0,0,0,5,...,2,2,1,0,0,0,1,1,2,34
20,Miscellaneous Crimes Against Society,Possession of False Documents,Barking and Dagenham,0,2,0,1,0,1,2,...,0,0,0,0,0,2,0,0,1,14
21,Miscellaneous Crimes Against Society,Profitting From or Concealing Proceeds of Crime,Barking and Dagenham,0,1,1,1,0,0,0,...,1,1,2,0,1,2,1,3,1,21
22,Miscellaneous Crimes Against Society,Threat or Possession With Intent to Commit Cri...,Barking and Dagenham,4,7,6,3,4,4,3,...,1,5,5,7,1,3,7,8,1,122
23,Miscellaneous Crimes Against Society,Wildlife Crime,Barking and Dagenham,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,2
24,Possession of Weapons,Other Firearm Offences,Barking and Dagenham,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,2
25,Possession of Weapons,Possession of Article with Blade or Point,Barking and Dagenham,7,7,14,6,7,5,5,...,5,3,11,3,4,5,5,9,7,146
26,Possession of Weapons,Possession of Firearm with Intent,Barking and Dagenham,0,0,0,0,2,2,2,...,0,0,0,1,1,0,1,0,0,19
27,Possession of Weapons,Possession of Firearms Offences,Barking and Dagenham,1,0,2,2,0,1,0,...,2,0,5,0,2,3,1,2,1,39
28,Possession of Weapons,Possession of Other Weapon,Barking and Dagenham,10,16,6,10,4,3,5,...,5,4,8,1,8,6,9,10,8,160
29,Public Order Offences,"Other Offences Against the State, or Public Order",Barking and Dagenham,10,11,8,11,14,7,8,...,14,17,10,10,22,17,21,21,15,326
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1538,Miscellaneous Crimes Against Society,Other Forgery,Westminster,2,7,3,13,13,16,7,...,5,4,4,6,5,2,0,2,2,134
1539,Miscellaneous Crimes Against Society,Other Notifiable Offences,Westminster,2,3,2,3,1,1,2,...,0,0,1,0,0,2,1,2,0,31
1540,Miscellaneous Crimes Against Society,Perverting Course of Justice,Westminster,3,1,6,1,1,1,1,...,4,0,2,1,2,2,4,4,1,49
1541,Miscellaneous Crimes Against Society,Possession of False Documents,Westminster,2,0,2,5,1,3,1,...,1,2,3,0,2,0,0,2,2,37
1542,Miscellaneous Crimes Against Society,Profitting From or Concealing Proceeds of Crime,Westminster,3,2,2,2,2,1,1,...,2,0,0,2,2,1,1,2,0,42
1543,Miscellaneous Crimes Against Society,Threat or Possession With Intent to Commit Cri...,Westminster,2,4,2,5,1,3,2,...,1,1,5,8,5,1,3,7,2,94
1544,Possession of Weapons,Other Firearm Offences,Westminster,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,3
1545,Possession of Weapons,Possession of Article with Blade or Point,Westminster,22,16,14,12,15,12,18,...,20,13,21,7,17,8,11,11,8,371
1546,Possession of Weapons,Possession of Firearm with Intent,Westminster,0,2,2,0,2,1,2,...,3,0,1,0,0,1,0,1,0,23
1547,Possession of Weapons,Possession of Firearms Offences,Westminster,13,6,7,7,8,4,3,...,10,14,11,7,2,1,1,4,0,148
1548,Possession of Weapons,Possession of Other Weapon,Westminster,25,11,16,12,25,10,11,...,12,21,18,11,9,4,14,4,6,327
1549,Public Order Offences,"Other Offences Against the State, or Public Order",Westminster,22,22,32,35,32,17,35,...,22,31,31,27,30,18,17,30,17,692
1550,Public Order Offences,Public Fear Alarm or Distress,Westminster,164,165,172,187,166,163,170,...,166,184,183,162,150,120,120,148,209,4211
1551,Public Order Offences,Racially or Religiously Aggravated Public Fear...,Westminster,56,75,52,69,80,72,63,...,58,63,54,78,67,36,46,77,95,1619
1552,Public Order Offences,Violent Disorder,Westminster,1,1,1,2,0,0,0,...,0,0,0,1,0,0,0,19,4,33
1553,Robbery,Robbery of Business Property,Westminster,13,11,21,14,11,15,16,...,16,20,14,15,16,2,3,6,9,352
1554,Robbery,Robbery of Personal Property,Westminster,235,259,292,325,403,318,325,...,314,429,350,322,216,46,35,91,128,6952
1555,Sexual Offences,Other Sexual Offences,Westminster,76,55,62,69,55,54,59,...,68,58,57,63,60,23,36,39,57,1431
1556,Sexual Offences,Rape,Westminster,54,34,33,32,30,23,18,...,31,45,43,34,26,18,21,25,35,759
1557,Theft,Bicycle Theft,Westminster,145,154,134,95,75,92,101,...,92,77,110,94,78,55,105,190,198,3017
1558,Theft,Other Theft,Westminster,1250,1265,1461,1613,1876,1845,1853,...,1983,2265,1551,1853,1044,131,185,306,713,37215
1559,Theft,Shoplifting,Westminster,387,363,382,409,364,391,383,...,366,359,435,379,233,102,69,136,221,8105
1560,Theft,Theft from Person,Westminster,737,685,875,1157,1492,1169,1554,...,1321,1531,1299,1481,906,61,52,136,351,25604
1561,Vehicle Offences,Aggravated Vehicle Taking,Westminster,2,0,1,2,0,2,1,...,1,3,1,1,0,2,0,1,2,34
1562,Vehicle Offences,Interfering with a Motor Vehicle,Westminster,34,34,48,48,43,62,67,...,36,37,42,41,34,27,27,19,53,969
1563,Vehicle Offences,Theft from a Motor Vehicle,Westminster,223,258,316,290,274,356,287,...,300,382,317,345,230,58,100,168,273,6503
1564,Vehicle Offences,Theft or Taking of a Motor Vehicle,Westminster,66,70,75,52,36,65,48,...,58,53,75,56,53,32,40,35,54,1347
1565,Violence Against the Person,Homicide,Westminster,0,0,1,0,0,1,0,...,0,0,1,0,0,0,0,0,1,7
1566,Violence Against the Person,Violence with Injury,Westminster,333,315,309,310,365,326,288,...,364,363,297,276,258,127,237,355,253,7478
1567,Violence Against the Person,Violence without Injury,Westminster,603,541,559,550,617,515,526,...,606,630,531,564,517,340,441,451,559,13344

Dropping the non-essential columns and creating a new dataframe

In [9]:
df_mps2 = df_mps.drop(columns=['Major_Crime', 'Minor_Crime', 'Jul_18', 'Aug_18', 'Sep_18', 'Oct_18', 'Nov_18',\
                  'Dec_18', 'Jan_19', 'Feb_19', 'Mar_19', 'Apr_19', 'May_19', 'Jun_19', 'Jul_19', 'Aug_19',\
                  'Sep_19', 'Oct_19', 'Nov_19', 'Dec_19', 'Jan_20', 'Feb_20', 'Mar_20', 'Apr_20', 'May_20', 'Jun_20'])

In [10]:
df_mps2

                   Address  Total_Crime
0     Barking and Dagenham          116
1     Barking and Dagenham         2681
2     Barking and Dagenham          681
3     Barking and Dagenham         2301
4     Barking and Dagenham          199
5     Barking and Dagenham         2362
6     Barking and Dagenham            1
7     Barking and Dagenham            1
8     Barking and Dagenham           29
9     Barking and Dagenham            1
10    Barking and Dagenham            1
11    Barking and Dagenham            8
12    Barking and Dagenham           15
13    Barking and Dagenham           49
14    Barking and Dagenham           19
15    Barking and Dagenham          209
16    Barking and Dagenham           20
17    Barking and Dagenham           35
18    Barking and Dagenham            1
19    Barking and Dagenham           34
20    Barking and Dagenham           14
21    Barking and Dagenham           21
22    Barking and Dagenham          122
23    Barking and Dagenham            2
24    Barking and Dagenham            2
25    Barking and Dagenham          146
26    Barking and Dagenham           19
27    Barking and Dagenham           39
28    Barking and Dagenham          160
29    Barking and Dagenham          326
...                    ...          ...
1538           Westminster          134
1539           Westminster           31
1540           Westminster           49
1541           Westminster           37
1542           Westminster           42
1543           Westminster           94
1544           Westminster            3
1545           Westminster          371
1546           Westminster           23
1547           Westminster          148
1548           Westminster          327
1549           Westminster          692
1550           Westminster         4211
1551           Westminster         1619
1552           Westminster           33
1553           Westminster          352
1554           Westminster         6952
1555           Westminster         1431
1556           Westminster          759
1557           Westminster         3017
1558           Westminster        37215
1559           Westminster         8105
1560           Westminster        25604
1561           Westminster           34
1562           Westminster          969
1563           Westminster         6503
1564           Westminster         1347
1565           Westminster            7
1566           Westminster         7478
1567           Westminster        13344

[1568 rows x 2 columns]

Grouping the crime data for each boroughs

In [11]:
df_crime = df_mps2.groupby(['Address'])['Total_Crime'].mean().reset_index()

In [12]:
df_crime.head()

                Address  Total_Crime
0  Barking and Dagenham   809.312500
1                Barnet  1259.851064
2                Bexley   734.173913
3                 Brent  1244.416667
4               Bromley  1033.239130

Labelling each borough with London, UK in order to pull the correct coordinates

In [13]:
df_crime['Address'] = df_crime['Address'] + ', London, UK'
df_crime.head()

                            Address  Total_Crime
0  Barking and Dagenham, London, UK   809.312500
1                Barnet, London, UK  1259.851064
2                Bexley, London, UK   734.173913
3                 Brent, London, UK  1244.416667
4               Bromley, London, UK  1033.239130

In [14]:
import pandas as pd
import numpy as np
import datetime as DT
import hmac
from geopy.geocoders import Nominatim
# import k-means from clustering stage
from geopy.extra.rate_limiter import RateLimiter
from functools import partial
from sklearn.cluster import KMeans

Using the geopy library to get the coordinates of the London boroughs

In [15]:
geolocator = Nominatim(user_agent="ldn_explorer")
geocode = RateLimiter(geolocator.geocode, min_delay_seconds=1)
# Create location column
df_crime['location'] = df_crime['Address'].apply(geocode)
df_crime['point']=df_crime['location'].apply(lambda loc: tuple(loc.point) if loc else None)
df_crime.head()

,Address,Total_Crime,location,point
0,"Barking and Dagenham, London, UK",809.312500,"(London Borough of Barking and Dagenham, Great...","(51.5541171, 0.15050434261994267, 0.0)"
1,"Barnet, London, UK",1259.851064,"(Chipping Barnet, London Borough of Barnet, Lo...","(51.65309, -0.2002261, 0.0)"
2,"Bexley, London, UK",734.173913,"(Bexley, London Borough of Bexley, London, Gre...","(51.4416793, 0.150488, 0.0)"
3,"Brent, London, UK",1244.416667,"(London Borough of Brent, Greater London, Engl...","(51.563825800000004, -0.2757596561855699, 0.0)"
4,"Bromley, London, UK",1033.239130,"(Bromley, London, Greater London, England, BR1...","(51.4028046, 0.0148142, 0.0)"

Separating the coordinates into separate columns

In [16]:
df_crime[['Latitude', 'Longitude', 'Altitude']] = pd.DataFrame(df_crime['point'].tolist(), index=df_crime.index)
df_crime.head()

,Address,Total_Crime,location,point,Latitude,Longitude,Altitude
0,"Barking and Dagenham, London, UK",809.312500,"(London Borough of Barking and Dagenham, Great...","(51.5541171, 0.15050434261994267, 0.0)",51.554117,0.150504,0.0
1,"Barnet, London, UK",1259.851064,"(Chipping Barnet, London Borough of Barnet, Lo...","(51.65309, -0.2002261, 0.0)",51.653090,-0.200226,0.0
2,"Bexley, London, UK",734.173913,"(Bexley, London Borough of Bexley, London, Gre...","(51.4416793, 0.150488, 0.0)",51.441679,0.150488,0.0
3,"Brent, London, UK",1244.416667,"(London Borough of Brent, Greater London, Engl...","(51.563825800000004, -0.2757596561855699, 0.0)",51.563826,-0.275760,0.0
4,"Bromley, London, UK",1033.239130,"(Bromley, London, Greater London, England, BR1...","(51.4028046, 0.0148142, 0.0)",51.402805,0.014814,0.0

Dropping the unnecessary columns

In [17]:
df_crime2 = df_crime.drop(df_crime.columns[[2, 3, 6]], axis=1)
df_crime2.head()

                            Address  Total_Crime   Latitude  Longitude
0  Barking and Dagenham, London, UK   809.312500  51.554117   0.150504
1                Barnet, London, UK  1259.851064  51.653090  -0.200226
2                Bexley, London, UK   734.173913  51.441679   0.150488
3                 Brent, London, UK  1244.416667  51.563826  -0.275760
4               Bromley, London, UK  1033.239130  51.402805   0.014814

In [18]:
!pip install folium
import folium
print('Libraries imported.')

Collecting folium
  Downloading https://files.pythonhosted.org/packages/a4/f0/44e69d50519880287cc41e7c8a6acc58daa9a9acf5f6afc52bcc70f69a6d/folium-0.11.0-py2.py3-none-any.whl (93kB)
     |████████████████████████████████| 102kB 6.9MB/s ta 0:00:011
Requirement already satisfied: requests in /opt/conda/envs/Python36/lib/python3.6/site-packages (from folium) (2.21.0)
Requirement already satisfied: numpy in /opt/conda/envs/Python36/lib/python3.6/site-packages (from folium) (1.15.4)
Requirement already satisfied: jinja2>=2.9 in /opt/conda/envs/Python36/lib/python3.6/site-packages (from folium) (2.10)
Collecting branca>=0.3.0 (from folium)
  Downloading https://files.pythonhosted.org/packages/13/fb/9eacc24ba3216510c6b59a4ea1cd53d87f25ba76237d7f4393abeaf4c94e/branca-0.4.1-py3-none-any.whl
Requirement already satisfied: idna<2.9,>=2.5 in /opt/conda/envs/Python36/lib/python3.6/site-packages (from requests->folium) (2.8)
Requirement already satisfied: urllib3<1.25,>=1.21.1 in /opt/conda/envs/Python36/lib/python3.6/site-packages (from requests->folium) (1.24.1)
Requirement already satisfied: certifi>=2017.4.17 in /opt/conda/envs/Python36/lib/python3.6/site-packages (from requests->folium) (2020.6.20)
Requirement already satisfied: chardet<3.1.0,>=3.0.2 in /opt/conda/envs/Python36/lib/python3.6/site-packages (from requests->folium) (3.0.4)
Requirement already satisfied: MarkupSafe>=0.23 in /opt/conda/envs/Python36/lib/python3.6/site-packages (from jinja2>=2.9->folium) (1.1.0)
Installing collected packages: branca, folium
Successfully installed branca-0.4.1 folium-0.11.0
Libraries imported.

In [19]:
address = 'London, UK'

geolocator = Nominatim(user_agent="ldn_explorer")
location = geolocator.geocode(address)
latitude = location.latitude
longitude = location.longitude
print('The geograpical coordinate of London City are {}, {}.'.format(latitude, longitude))

The geograpical coordinate of London City are 51.5073219, -0.1276474.

### Exploring neighborhoods in London

In [20]:
!pip install geopandas
!pip install geopy

Collecting geopandas
  Downloading https://files.pythonhosted.org/packages/f7/a4/e66aafbefcbb717813bf3a355c8c4fc3ed04ea1dd7feb2920f2f4f868921/geopandas-0.8.1-py2.py3-none-any.whl (962kB)
     |████████████████████████████████| 972kB 6.7MB/s eta 0:00:01
Requirement already satisfied: pandas>=0.23.0 in /opt/conda/envs/Python36/lib/python3.6/site-packages (from geopandas) (0.24.1)
Collecting fiona (from geopandas)
  Downloading https://files.pythonhosted.org/packages/ec/20/4e63bc5c6e62df889297b382c3ccd4a7a488b00946aaaf81a118158c6f09/Fiona-1.8.13.post1-cp36-cp36m-manylinux1_x86_64.whl (14.7MB)
     |████████████████████████████████| 14.7MB 20.0MB/s eta 0:00:01    |██████████████████▏             | 8.4MB 20.0MB/s eta 0:00:01
Collecting shapely (from geopandas)
  Downloading https://files.pythonhosted.org/packages/20/fa/c96d3461fda99ed8e82ff0b219ac2c8384694b4e640a611a1a8390ecd415/Shapely-1.7.0-cp36-cp36m-manylinux1_x86_64.whl (1.8MB)
     |████████████████████████████████| 1.8MB 26.2MB/s eta 0:00:01
Collecting pyproj>=2.2.0 (from geopandas)
  Downloading https://files.pythonhosted.org/packages/e5/c3/071e080230ac4b6c64f1a2e2f9161c9737a2bc7b683d2c90b024825000c0/pyproj-2.6.1.post1-cp36-cp36m-manylinux2010_x86_64.whl (10.9MB)
     |████████████████████████████████| 10.9MB 10.6MB/s eta 0:00:01     |████████████████████████████████| 10.9MB 10.6MB/s eta 0:00:01
Requirement already satisfied: numpy>=1.12.0 in /opt/conda/envs/Python36/lib/python3.6/site-packages (from pandas>=0.23.0->geopandas) (1.15.4)
Requirement already satisfied: pytz>=2011k in /opt/conda/envs/Python36/lib/python3.6/site-packages (from pandas>=0.23.0->geopandas) (2018.9)
Requirement already satisfied: python-dateutil>=2.5.0 in /opt/conda/envs/Python36/lib/python3.6/site-packages (from pandas>=0.23.0->geopandas) (2.7.5)
Collecting cligj>=0.5 (from fiona->geopandas)
  Downloading https://files.pythonhosted.org/packages/e4/be/30a58b4b0733850280d01f8bd132591b4668ed5c7046761098d665ac2174/cligj-0.5.0-py3-none-any.whl
Requirement already satisfied: click<8,>=4.0 in /opt/conda/envs/Python36/lib/python3.6/site-packages (from fiona->geopandas) (7.0)
Requirement already satisfied: six>=1.7 in /opt/conda/envs/Python36/lib/python3.6/site-packages (from fiona->geopandas) (1.12.0)
Collecting click-plugins>=1.0 (from fiona->geopandas)
  Downloading https://files.pythonhosted.org/packages/e9/da/824b92d9942f4e472702488857914bdd50f73021efea15b4cad9aca8ecef/click_plugins-1.1.1-py2.py3-none-any.whl
Collecting munch (from fiona->geopandas)
  Downloading https://files.pythonhosted.org/packages/cc/ab/85d8da5c9a45e072301beb37ad7f833cd344e04c817d97e0cc75681d248f/munch-2.5.0-py2.py3-none-any.whl
Requirement already satisfied: attrs>=17 in /opt/conda/envs/Python36/lib/python3.6/site-packages (from fiona->geopandas) (18.2.0)
Installing collected packages: cligj, click-plugins, munch, fiona, shapely, pyproj, geopandas
Successfully installed click-plugins-1.1.1 cligj-0.5.0 fiona-1.8.13.post1 geopandas-0.8.1 munch-2.5.0 pyproj-2.6.1.post1 shapely-1.7.0
Requirement already satisfied: geopy in /opt/conda/envs/Python36/lib/python3.6/site-packages (1.18.1)
Requirement already satisfied: geographiclib<2,>=1.49 in /opt/conda/envs/Python36/lib/python3.6/site-packages (from geopy) (1.49)

Using the Foursquare API to explore the neighborhoods and segment them

In [21]:
#Define Foursquare Credentials and Version

CLIENT_ID = 'CLQJQRLVWRV1NPPLLMIDF5OZHFP1W3HZXXJSO1JAVI0UXCSG' # your Foursquare ID
CLIENT_SECRET = 'QNXR2VJSFYIW4KJFWQMGFXBBQAQZJTS40PVODGVTXDL45YKO' # your Foursquare Secret
VERSION = '20180605'

print('Your credentails:')
print('CLIENT_ID: ' + CLIENT_ID)
print('CLIENT_SECRET:' + CLIENT_SECRET)

Your credentails:
CLIENT_ID: CLQJQRLVWRV1NPPLLMIDF5OZHFP1W3HZXXJSO1JAVI0UXCSG
CLIENT_SECRET:QNXR2VJSFYIW4KJFWQMGFXBBQAQZJTS40PVODGVTXDL45YKO

In [22]:
def getNearbyVenues(names, latitudes, longitudes):
    radius=500
    LIMIT=100
    venues_list=[]
    for name, lat, lng in zip(names, latitudes, longitudes):
        print(name)
            
        # create the API request URL
        url = 'https://api.foursquare.com/v2/venues/explore?&client_id={}&client_secret={}&v={}&ll={},{}&radius={}&limit={}'.format(
            CLIENT_ID, 
            CLIENT_SECRET, 
            VERSION, 
            lat, 
            lng, 
            radius, 
            LIMIT)
            
        # make the GET request
        results = requests.get(url).json()["response"]['groups'][0]['items']
        
        # return only relevant information for each nearby venue
        venues_list.append([(
            name, 
            lat, 
            lng, 
            v['venue']['name'], 
            v['venue']['location']['lat'], 
            v['venue']['location']['lng'],  
            v['venue']['categories'][0]['name']) for v in results])

    nearby_venues = pd.DataFrame([item for venue_list in venues_list for item in venue_list])
    nearby_venues.columns = ['Neighborhood', 
                  'Neighborhood Latitude', 
                  'Neighborhood Longitude', 
                  'Venue', 
                  'Venue Latitude', 
                  'Venue Longitude', 
                  'Venue Category']
    
    return(nearby_venues)

In [23]:
df_crime2.drop(df_crime2.index[22], inplace = True)

Creating a new dataframe for the London venues

In [24]:
london_venues = getNearbyVenues(names=df_crime2['Address'],
                                   latitudes=df_crime2['Latitude'],
                                   longitudes=df_crime2['Longitude']
                                  )

Barking and Dagenham, London, UK
Barnet, London, UK
Bexley, London, UK
Brent, London, UK
Bromley, London, UK
Camden, London, UK
Croydon, London, UK
Ealing, London, UK
Enfield, London, UK
Greenwich, London, UK
Hackney, London, UK
Hammersmith and Fulham, London, UK
Haringey, London, UK
Harrow, London, UK
Havering, London, UK
Hillingdon, London, UK
Hounslow, London, UK
Islington, London, UK
Kensington and Chelsea, London, UK
Kingston upon Thames, London, UK
Lambeth, London, UK
Lewisham, London, UK
Merton, London, UK
Newham, London, UK
Redbridge, London, UK
Richmond upon Thames, London, UK
Southwark, London, UK
Sutton, London, UK
Tower Hamlets, London, UK
Waltham Forest, London, UK
Wandsworth, London, UK
Westminster, London, UK

In [25]:
london_venues.head()

,Neighborhood,Neighborhood Latitude,Neighborhood Longitude,Venue,Venue Latitude,Venue Longitude,Venue Category
0,"Barking and Dagenham, London, UK",51.554117,0.150504,Tesco Express,51.551536,0.152784,Grocery Store
1,"Barking and Dagenham, London, UK",51.554117,0.150504,Connor Road Bus Stop,51.554345,0.147162,Bus Stop
2,"Barking and Dagenham, London, UK",51.554117,0.150504,Oglethorpe Road Bus Stop,51.555221,0.147136,Bus Stop
3,"Barking and Dagenham, London, UK",51.554117,0.150504,Five Elms Off Licence,51.553878,0.145531,Liquor Store
4,"Barking and Dagenham, London, UK",51.554117,0.150504,Post office,51.551411,0.155003,Convenience Store

Checking how many venues are returned for each neighborhood

In [26]:
london_venues.groupby('Neighborhood').count()

,Neighborhood Latitude,Neighborhood Longitude,Venue,Venue Latitude,Venue Longitude,Venue Category
Neighborhood,,,,,,
"Barking and Dagenham, London, UK",5,5,5,5,5,5
"Barnet, London, UK",31,31,31,31,31,31
"Bexley, London, UK",12,12,12,12,12,12
"Brent, London, UK",16,16,16,16,16,16
"Bromley, London, UK",44,44,44,44,44,44
"Camden, London, UK",86,86,86,86,86,86
"Croydon, London, UK",25,25,25,25,25,25
"Ealing, London, UK",95,95,95,95,95,95
"Enfield, London, UK",57,57,57,57,57,57
"Greenwich, London, UK",60,60,60,60,60,60
"Hackney, London, UK",31,31,31,31,31,31
"Hammersmith and Fulham, London, UK",89,89,89,89,89,89
"Haringey, London, UK",32,32,32,32,32,32
"Harrow, London, UK",7,7,7,7,7,7
"Havering, London, UK",68,68,68,68,68,68
"Hillingdon, London, UK",4,4,4,4,4,4
"Hounslow, London, UK",51,51,51,51,51,51
"Islington, London, UK",73,73,73,73,73,73
"Kensington and Chelsea, London, UK",43,43,43,43,43,43
"Kingston upon Thames, London, UK",100,100,100,100,100,100
"Lambeth, London, UK",61,61,61,61,61,61
"Lewisham, London, UK",50,50,50,50,50,50
"Merton, London, UK",16,16,16,16,16,16
"Newham, London, UK",4,4,4,4,4,4
"Redbridge, London, UK",5,5,5,5,5,5
"Richmond upon Thames, London, UK",5,5,5,5,5,5
"Southwark, London, UK",100,100,100,100,100,100
"Sutton, London, UK",5,5,5,5,5,5
"Tower Hamlets, London, UK",43,43,43,43,43,43
"Waltham Forest, London, UK",4,4,4,4,4,4
"Wandsworth, London, UK",37,37,37,37,37,37
"Westminster, London, UK",45,45,45,45,45,45

### Analysing each neighborhood

In [27]:
# one hot encoding
london_onehot = pd.get_dummies(london_venues[['Venue Category']], prefix="", prefix_sep="")

# add street column back to dataframe
london_onehot['Neighborhood'] = london_venues['Neighborhood'] 

# move borough column to the first column
fixed_columns = [london_onehot.columns[-1]] + list(london_onehot.columns[:-1])

#fixed_columns
london_onehot = london_onehot[fixed_columns]

london_onehot.head()

,Neighborhood,Afghan Restaurant,African Restaurant,Aquarium,Arcade,Argentinian Restaurant,Art Gallery,Arts & Crafts Store,Asian Restaurant,Athletics & Sports,...,Turkish Restaurant,Vegetarian / Vegan Restaurant,Video Game Store,Vietnamese Restaurant,Warehouse Store,Wine Bar,Wine Shop,Wings Joint,Women's Store,Yoga Studio
0,"Barking and Dagenham, London, UK",0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,"Barking and Dagenham, London, UK",0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,"Barking and Dagenham, London, UK",0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,"Barking and Dagenham, London, UK",0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,"Barking and Dagenham, London, UK",0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

Grouping the rows by neighborhood and the mean of frequency of occurrence of each category

In [28]:
london_grouped = london_onehot.groupby('Neighborhood').mean().reset_index()
london_grouped.head()

,Neighborhood,Afghan Restaurant,African Restaurant,Aquarium,Arcade,Argentinian Restaurant,Art Gallery,Arts & Crafts Store,Asian Restaurant,Athletics & Sports,...,Turkish Restaurant,Vegetarian / Vegan Restaurant,Video Game Store,Vietnamese Restaurant,Warehouse Store,Wine Bar,Wine Shop,Wings Joint,Women's Store,Yoga Studio
0,"Barking and Dagenham, London, UK",0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,...,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,"Barnet, London, UK",0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,...,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,"Bexley, London, UK",0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,...,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,"Brent, London, UK",0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,...,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,"Bromley, London, UK",0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.022727,0.0,...,0.022727,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

Writing a function to sort the venues in descending order

In [29]:
def return_most_common_venues(row, num_top_venues):
    row_categories = row.iloc[1:]
    row_categories_sorted = row_categories.sort_values(ascending=False)
    
    return row_categories_sorted.index.values[0:num_top_venues]

Creating a new dataframe and displaying the top 10 venues for each neighborhood

In [31]:
num_top_venues = 10

indicators = ['st', 'nd', 'rd']

# create columns according to number of top venues
columns = ['Neighborhood']
for ind in np.arange(num_top_venues):
    try:
        columns.append('{}{} Most Common Venue'.format(ind+1, indicators[ind]))
    except:
        columns.append('{}th Most Common Venue'.format(ind+1))

# create a new dataframe
neighborhoods_venues_sorted = pd.DataFrame(columns=columns)
neighborhoods_venues_sorted['Neighborhood'] = london_grouped['Neighborhood']

for ind in np.arange(london_grouped.shape[0]):
    neighborhoods_venues_sorted.iloc[ind, 1:] = return_most_common_venues(london_grouped.iloc[ind, :], num_top_venues)

neighborhoods_venues_sorted.head()

,Neighborhood,1st Most Common Venue,2nd Most Common Venue,3rd Most Common Venue,4th Most Common Venue,5th Most Common Venue,6th Most Common Venue,7th Most Common Venue,8th Most Common Venue,9th Most Common Venue,10th Most Common Venue
0,"Barking and Dagenham, London, UK",Bus Stop,Grocery Store,Convenience Store,Liquor Store,Event Space,Food & Drink Shop,Food,Flea Market,Fish Market,Fish & Chips Shop
1,"Barnet, London, UK",Coffee Shop,Pharmacy,Bookstore,Park,Convenience Store,Pizza Place,Restaurant,Grocery Store,Pub,Mobile Phone Shop
2,"Bexley, London, UK",Pub,Fast Food Restaurant,Greek Restaurant,Chinese Restaurant,Toy / Game Store,Train Station,Tennis Court,Italian Restaurant,Breakfast Spot,Indian Restaurant
3,"Brent, London, UK",Coffee Shop,Hotel,Supermarket,Indian Restaurant,Pedestrian Plaza,Electronics Store,Sandwich Place,Café,Burger Joint,Food Court
4,"Bromley, London, UK",Clothing Store,Coffee Shop,Gym / Fitness Center,Pizza Place,Pub,Portuguese Restaurant,Burger Joint,Bookstore,Stationery Store,Supermarket

### Clustering neighborhoods

Running *k*-means to cluster the neighborhood into 5 clusters

In [32]:
from sklearn.cluster import KMeans

# set number of clusters
kclusters = 5

london_grouped_clustering = london_grouped.drop('Neighborhood', 1)

# run k-means clustering
kmeans = KMeans(n_clusters=kclusters, random_state=0).fit(london_grouped_clustering)

# check cluster labels generated for each row in the dataframe
kmeans.labels_[0:10]

array([1, 2, 0, 2, 2, 2, 2, 2, 2, 2], dtype=int32)

Creating a new dataframe that includes the cluster as well as the top 10 venues for each neighborhood

In [33]:
# add clustering labels
neighborhoods_venues_sorted.insert(0, 'Cluster Labels', kmeans.labels_)

london_merged = df_crime2

# merge london_grouped with df_crime2 to add latitude/longitude for each neighborhood
london_merged = london_merged.join(neighborhoods_venues_sorted.set_index('Neighborhood'), on='Address')

london_merged.head()

,Address,Total_Crime,Latitude,Longitude,Cluster Labels,1st Most Common Venue,2nd Most Common Venue,3rd Most Common Venue,4th Most Common Venue,5th Most Common Venue,6th Most Common Venue,7th Most Common Venue,8th Most Common Venue,9th Most Common Venue,10th Most Common Venue
0,"Barking and Dagenham, London, UK",809.312500,51.554117,0.150504,1,Bus Stop,Grocery Store,Convenience Store,Liquor Store,Event Space,Food & Drink Shop,Food,Flea Market,Fish Market,Fish & Chips Shop
1,"Barnet, London, UK",1259.851064,51.653090,-0.200226,2,Coffee Shop,Pharmacy,Bookstore,Park,Convenience Store,Pizza Place,Restaurant,Grocery Store,Pub,Mobile Phone Shop
2,"Bexley, London, UK",734.173913,51.441679,0.150488,0,Pub,Fast Food Restaurant,Greek Restaurant,Chinese Restaurant,Toy / Game Store,Train Station,Tennis Court,Italian Restaurant,Breakfast Spot,Indian Restaurant
3,"Brent, London, UK",1244.416667,51.563826,-0.275760,2,Coffee Shop,Hotel,Supermarket,Indian Restaurant,Pedestrian Plaza,Electronics Store,Sandwich Place,Café,Burger Joint,Food Court
4,"Bromley, London, UK",1033.239130,51.402805,0.014814,2,Clothing Store,Coffee Shop,Gym / Fitness Center,Pizza Place,Pub,Portuguese Restaurant,Burger Joint,Bookstore,Stationery Store,Supermarket

In [34]:
neighborhoods_venues_sorted.head()

,Cluster Labels,Neighborhood,1st Most Common Venue,2nd Most Common Venue,3rd Most Common Venue,4th Most Common Venue,5th Most Common Venue,6th Most Common Venue,7th Most Common Venue,8th Most Common Venue,9th Most Common Venue,10th Most Common Venue
0,1,"Barking and Dagenham, London, UK",Bus Stop,Grocery Store,Convenience Store,Liquor Store,Event Space,Food & Drink Shop,Food,Flea Market,Fish Market,Fish & Chips Shop
1,2,"Barnet, London, UK",Coffee Shop,Pharmacy,Bookstore,Park,Convenience Store,Pizza Place,Restaurant,Grocery Store,Pub,Mobile Phone Shop
2,0,"Bexley, London, UK",Pub,Fast Food Restaurant,Greek Restaurant,Chinese Restaurant,Toy / Game Store,Train Station,Tennis Court,Italian Restaurant,Breakfast Spot,Indian Restaurant
3,2,"Brent, London, UK",Coffee Shop,Hotel,Supermarket,Indian Restaurant,Pedestrian Plaza,Electronics Store,Sandwich Place,Café,Burger Joint,Food Court
4,2,"Bromley, London, UK",Clothing Store,Coffee Shop,Gym / Fitness Center,Pizza Place,Pub,Portuguese Restaurant,Burger Joint,Bookstore,Stationery Store,Supermarket

Visualising the resulting clusters

In [35]:
# create map
map_clusters = folium.Map(location=[latitude, longitude], zoom_start=11)

# set color scheme for the clusters
x = np.arange(kclusters)
ys = [i + x + (i*x)**2 for i in range(kclusters)]
colors_array = cm.rainbow(np.linspace(0, 1, len(ys)))
rainbow = [colors.rgb2hex(i) for i in colors_array]

# add markers to the map
markers_colors = []
for lat, lon, poi, cluster in zip(london_merged['Latitude'], london_merged['Longitude'], london_merged['Address'], london_merged['Cluster Labels']):
    label = folium.Popup(str(poi) + ' Cluster ' + str(cluster), parse_html=True)
    folium.CircleMarker(
        [lat, lon],
        radius=5,
        popup=label,
        color=rainbow[cluster-1],
        fill=True,
        fill_color=rainbow[cluster-1],
        fill_opacity=0.7).add_to(map_clusters)
       
map_clusters

### Examining Clusters

#### Cluster 1

In [36]:
london_merged.loc[london_merged['Cluster Labels'] == 0, london_merged.columns[[1] + list(range(5, london_merged.shape[1]))]]

,Total_Crime,1st Most Common Venue,2nd Most Common Venue,3rd Most Common Venue,4th Most Common Venue,5th Most Common Venue,6th Most Common Venue,7th Most Common Venue,8th Most Common Venue,9th Most Common Venue,10th Most Common Venue
2,734.173913,Pub,Fast Food Restaurant,Greek Restaurant,Chinese Restaurant,Toy / Game Store,Train Station,Tennis Court,Italian Restaurant,Breakfast Spot,Indian Restaurant
15,1092.583333,Pub,Fast Food Restaurant,Park,Chinese Restaurant,Yoga Studio,English Restaurant,Food & Drink Shop,Food,Flea Market,Fish Market
23,627.311111,Tram Station,Pub,Park,Dessert Shop,Farm,Sushi Restaurant,Fast Food Restaurant,Steakhouse,Thai Restaurant,Hardware Store
24,1490.021277,Pub,Bus Station,Café,Park,Yoga Studio,Falafel Restaurant,Food & Drink Shop,Food,Flea Market,Fish Market
30,1004.812500,Pub,Bus Stop,Café,Auto Garage,Yoga Studio,Falafel Restaurant,Food & Drink Shop,Food,Flea Market,Fish Market

#### Cluster 2

In [37]:
london_merged.loc[london_merged['Cluster Labels'] == 1, london_merged.columns[[1] + list(range(5, london_merged.shape[1]))]]

,Total_Crime,1st Most Common Venue,2nd Most Common Venue,3rd Most Common Venue,4th Most Common Venue,5th Most Common Venue,6th Most Common Venue,7th Most Common Venue,8th Most Common Venue,9th Most Common Venue,10th Most Common Venue
0,809.3125,Bus Stop,Grocery Store,Convenience Store,Liquor Store,Event Space,Food & Drink Shop,Food,Flea Market,Fish Market,Fish & Chips Shop

#### Cluster 3

In [38]:
london_merged.loc[london_merged['Cluster Labels'] == 2, london_merged.columns[[1] + list(range(5, london_merged.shape[1]))]]

,Total_Crime,1st Most Common Venue,2nd Most Common Venue,3rd Most Common Venue,4th Most Common Venue,5th Most Common Venue,6th Most Common Venue,7th Most Common Venue,8th Most Common Venue,9th Most Common Venue,10th Most Common Venue
1,1259.851064,Coffee Shop,Pharmacy,Bookstore,Park,Convenience Store,Pizza Place,Restaurant,Grocery Store,Pub,Mobile Phone Shop
3,1244.416667,Coffee Shop,Hotel,Supermarket,Indian Restaurant,Pedestrian Plaza,Electronics Store,Sandwich Place,Café,Burger Joint,Food Court
4,1033.239130,Clothing Store,Coffee Shop,Gym / Fitness Center,Pizza Place,Pub,Portuguese Restaurant,Burger Joint,Bookstore,Stationery Store,Supermarket
5,1441.280000,Pub,Coffee Shop,Burger Joint,Italian Restaurant,Café,Market,Caribbean Restaurant,Supermarket,Ice Cream Shop,Beer Bar
6,1356.448980,Pub,Coffee Shop,Spanish Restaurant,Italian Restaurant,Burger Joint,Mediterranean Restaurant,Museum,Caribbean Restaurant,Malay Restaurant,Bookstore
7,1262.000000,Coffee Shop,Pub,Clothing Store,Burger Joint,Bakery,Platform,Café,Park,Italian Restaurant,Hotel
8,1223.708333,Clothing Store,Coffee Shop,Pub,Supermarket,Café,Gift Shop,Pharmacy,Fish & Chips Shop,Bookstore,Shopping Mall
9,1120.530612,Pub,Boat or Ferry,Burger Joint,History Museum,Garden,Market,Pizza Place,Pier,Grocery Store,Art Gallery
10,1299.200000,Coffee Shop,Pub,Supermarket,Brewery,Café,Cocktail Bar,Sporting Goods Shop,Shopping Plaza,Butcher,Coffee Roaster
11,921.416667,Pub,Café,Coffee Shop,Gym / Fitness Center,Sandwich Place,Hotel,Thai Restaurant,Metro Station,Portuguese Restaurant,Pizza Place
12,1256.040816,Bus Stop,Park,Café,Fast Food Restaurant,Coffee Shop,Malay Restaurant,Polish Restaurant,Metro Station,Mediterranean Restaurant,Sandwich Place
13,670.102041,Afghan Restaurant,Coffee Shop,Fast Food Restaurant,Sandwich Place,Clothing Store,Grocery Store,Indian Restaurant,Dessert Shop,Falafel Restaurant,Food & Drink Shop
14,778.212766,Café,Pub,Coffee Shop,Bar,Market,Flea Market,Vegetarian / Vegan Restaurant,Supermarket,Park,Platform
16,1037.580000,Coffee Shop,Hotel,Grocery Store,Clothing Store,Fast Food Restaurant,Indian Restaurant,Bakery,Café,Pharmacy,Sandwich Place
17,1185.000000,Pub,Burger Joint,Bakery,French Restaurant,Mediterranean Restaurant,Cocktail Bar,Mexican Restaurant,Sushi Restaurant,Gastropub,Theater
18,939.520833,Café,Cupcake Shop,Burger Joint,Italian Restaurant,Supermarket,Bakery,Pub,Clothing Store,Recording Studio,Filipino Restaurant
19,561.644444,Coffee Shop,Café,Pub,Italian Restaurant,Clothing Store,Hotel,Sushi Restaurant,Bakery,Department Store,Thai Restaurant
20,1392.102041,Coffee Shop,Hotel,Bar,Café,Sandwich Place,Movie Theater,Korean Restaurant,Beer Bar,Event Space,Bakery
21,1143.734694,Clothing Store,Fast Food Restaurant,Coffee Shop,Grocery Store,Pharmacy,Pub,Café,Supermarket,Fish & Chips Shop,Restaurant
25,962.469388,Hotel,Pub,Metro Station,Eastern European Restaurant,Pizza Place,Event Space,Food,Flea Market,Fish Market,Cricket Ground
27,1467.000000,Hotel,Pub,Gym / Fitness Center,Coffee Shop,Bar,Italian Restaurant,Café,Sandwich Place,Burger Joint,Cocktail Bar
29,1369.285714,Pub,Pizza Place,Coffee Shop,Bus Stop,Grocery Store,Fast Food Restaurant,Canal Lock,Platform,Breakfast Spot,Lebanese Restaurant
31,1051.812500,Clothing Store,Coffee Shop,Pub,Burger Joint,Gym / Fitness Center,Asian Restaurant,Supermarket,Chaat Place,Stationery Store,Breakfast Spot
32,2868.591837,Coffee Shop,Historic Site,Outdoor Sculpture,Sandwich Place,Pub,Plaza,Café,Garden,Monument / Landmark,Hotel

#### Cluster 4

In [39]:
london_merged.loc[london_merged['Cluster Labels'] == 3, london_merged.columns[[1] + list(range(5, london_merged.shape[1]))]]

,Total_Crime,1st Most Common Venue,2nd Most Common Venue,3rd Most Common Venue,4th Most Common Venue,5th Most Common Venue,6th Most Common Venue,7th Most Common Venue,8th Most Common Venue,9th Most Common Venue,10th Most Common Venue
28,610.318182,Bakery,Train Station,Park,Italian Restaurant,Grocery Store,Flea Market,Fish Market,Fish & Chips Shop,Filipino Restaurant,English Restaurant

#### Cluster 5

In [40]:
london_merged.loc[london_merged['Cluster Labels'] == 4, london_merged.columns[[1] + list(range(5, london_merged.shape[1]))]]

,Total_Crime,1st Most Common Venue,2nd Most Common Venue,3rd Most Common Venue,4th Most Common Venue,5th Most Common Venue,6th Most Common Venue,7th Most Common Venue,8th Most Common Venue,9th Most Common Venue,10th Most Common Venue
26,590.116279,Sports Club,Home Service,Pub,Photography Studio,Bus Station,English Restaurant,Food,Flea Market,Fish Market,Fish & Chips Shop

### Summary of crime and venue data

In [41]:
london_merged.sort_values(by=['Total_Crime','Cluster Labels'], inplace=True)
london_merged

,Address,Total_Crime,Latitude,Longitude,Cluster Labels,1st Most Common Venue,2nd Most Common Venue,3rd Most Common Venue,4th Most Common Venue,5th Most Common Venue,6th Most Common Venue,7th Most Common Venue,8th Most Common Venue,9th Most Common Venue,10th Most Common Venue
19,"Kingston upon Thames, London, UK",561.644444,51.409627,-0.306262,2,Coffee Shop,Café,Pub,Italian Restaurant,Clothing Store,Hotel,Sushi Restaurant,Bakery,Department Store,Thai Restaurant
26,"Richmond upon Thames, London, UK",590.116279,51.440372,-0.305720,4,Sports Club,Home Service,Pub,Photography Studio,Bus Station,English Restaurant,Food,Flea Market,Fish Market,Fish & Chips Shop
28,"Sutton, London, UK",610.318182,51.357511,-0.173640,3,Bakery,Train Station,Park,Italian Restaurant,Grocery Store,Flea Market,Fish Market,Fish & Chips Shop,Filipino Restaurant,English Restaurant
23,"Merton, London, UK",627.311111,51.410803,-0.188099,0,Tram Station,Pub,Park,Dessert Shop,Farm,Sushi Restaurant,Fast Food Restaurant,Steakhouse,Thai Restaurant,Hardware Store
13,"Harrow, London, UK",670.102041,51.596827,-0.337316,2,Afghan Restaurant,Coffee Shop,Fast Food Restaurant,Sandwich Place,Clothing Store,Grocery Store,Indian Restaurant,Dessert Shop,Falafel Restaurant,Food & Drink Shop
2,"Bexley, London, UK",734.173913,51.441679,0.150488,0,Pub,Fast Food Restaurant,Greek Restaurant,Chinese Restaurant,Toy / Game Store,Train Station,Tennis Court,Italian Restaurant,Breakfast Spot,Indian Restaurant
14,"Havering, London, UK",778.212766,51.544369,-0.144303,2,Café,Pub,Coffee Shop,Bar,Market,Flea Market,Vegetarian / Vegan Restaurant,Supermarket,Park,Platform
0,"Barking and Dagenham, London, UK",809.312500,51.554117,0.150504,1,Bus Stop,Grocery Store,Convenience Store,Liquor Store,Event Space,Food & Drink Shop,Food,Flea Market,Fish Market,Fish & Chips Shop
11,"Hammersmith and Fulham, London, UK",921.416667,51.492038,-0.223640,2,Pub,Café,Coffee Shop,Gym / Fitness Center,Sandwich Place,Hotel,Thai Restaurant,Metro Station,Portuguese Restaurant,Pizza Place
18,"Kensington and Chelsea, London, UK",939.520833,51.498995,-0.199123,2,Café,Cupcake Shop,Burger Joint,Italian Restaurant,Supermarket,Bakery,Pub,Clothing Store,Recording Studio,Filipino Restaurant
25,"Redbridge, London, UK",962.469388,51.576320,0.045410,2,Hotel,Pub,Metro Station,Eastern European Restaurant,Pizza Place,Event Space,Food,Flea Market,Fish Market,Cricket Ground
30,"Waltham Forest, London, UK",1004.812500,51.598169,-0.017837,0,Pub,Bus Stop,Café,Auto Garage,Yoga Studio,Falafel Restaurant,Food & Drink Shop,Food,Flea Market,Fish Market
4,"Bromley, London, UK",1033.239130,51.402805,0.014814,2,Clothing Store,Coffee Shop,Gym / Fitness Center,Pizza Place,Pub,Portuguese Restaurant,Burger Joint,Bookstore,Stationery Store,Supermarket
16,"Hounslow, London, UK",1037.580000,51.468613,-0.361347,2,Coffee Shop,Hotel,Grocery Store,Clothing Store,Fast Food Restaurant,Indian Restaurant,Bakery,Café,Pharmacy,Sandwich Place
31,"Wandsworth, London, UK",1051.812500,51.457027,-0.193261,2,Clothing Store,Coffee Shop,Pub,Burger Joint,Gym / Fitness Center,Asian Restaurant,Supermarket,Chaat Place,Stationery Store,Breakfast Spot
15,"Hillingdon, London, UK",1092.583333,51.542519,-0.448335,0,Pub,Fast Food Restaurant,Park,Chinese Restaurant,Yoga Studio,English Restaurant,Food & Drink Shop,Food,Flea Market,Fish Market
9,"Greenwich, London, UK",1120.530612,51.482084,-0.004542,2,Pub,Boat or Ferry,Burger Joint,History Museum,Garden,Market,Pizza Place,Pier,Grocery Store,Art Gallery
21,"Lewisham, London, UK",1143.734694,51.462432,-0.010133,2,Clothing Store,Fast Food Restaurant,Coffee Shop,Grocery Store,Pharmacy,Pub,Café,Supermarket,Fish & Chips Shop,Restaurant
17,"Islington, London, UK",1185.000000,51.538429,-0.099905,2,Pub,Burger Joint,Bakery,French Restaurant,Mediterranean Restaurant,Cocktail Bar,Mexican Restaurant,Sushi Restaurant,Gastropub,Theater
8,"Enfield, London, UK",1223.708333,51.652085,-0.081018,2,Clothing Store,Coffee Shop,Pub,Supermarket,Café,Gift Shop,Pharmacy,Fish & Chips Shop,Bookstore,Shopping Mall
3,"Brent, London, UK",1244.416667,51.563826,-0.275760,2,Coffee Shop,Hotel,Supermarket,Indian Restaurant,Pedestrian Plaza,Electronics Store,Sandwich Place,Café,Burger Joint,Food Court
12,"Haringey, London, UK",1256.040816,51.587930,-0.105410,2,Bus Stop,Park,Café,Fast Food Restaurant,Coffee Shop,Malay Restaurant,Polish Restaurant,Metro Station,Mediterranean Restaurant,Sandwich Place
1,"Barnet, London, UK",1259.851064,51.653090,-0.200226,2,Coffee Shop,Pharmacy,Bookstore,Park,Convenience Store,Pizza Place,Restaurant,Grocery Store,Pub,Mobile Phone Shop
7,"Ealing, London, UK",1262.000000,51.512655,-0.305195,2,Coffee Shop,Pub,Clothing Store,Burger Joint,Bakery,Platform,Café,Park,Italian Restaurant,Hotel
10,"Hackney, London, UK",1299.200000,51.543240,-0.049362,2,Coffee Shop,Pub,Supermarket,Brewery,Café,Cocktail Bar,Sporting Goods Shop,Shopping Plaza,Butcher,Coffee Roaster
6,"Croydon, London, UK",1356.448980,51.371305,-0.101957,2,Pub,Coffee Shop,Spanish Restaurant,Italian Restaurant,Burger Joint,Mediterranean Restaurant,Museum,Caribbean Restaurant,Malay Restaurant,Bookstore
29,"Tower Hamlets, London, UK",1369.285714,51.525629,-0.033585,2,Pub,Pizza Place,Coffee Shop,Bus Stop,Grocery Store,Fast Food Restaurant,Canal Lock,Platform,Breakfast Spot,Lebanese Restaurant
20,"Lambeth, London, UK",1392.102041,51.501301,-0.117287,2,Coffee Shop,Hotel,Bar,Café,Sandwich Place,Movie Theater,Korean Restaurant,Beer Bar,Event Space,Bakery
5,"Camden, London, UK",1441.280000,51.542305,-0.139560,2,Pub,Coffee Shop,Burger Joint,Italian Restaurant,Café,Market,Caribbean Restaurant,Supermarket,Ice Cream Shop,Beer Bar
27,"Southwark, London, UK",1467.000000,51.502922,-0.103458,2,Hotel,Pub,Gym / Fitness Center,Coffee Shop,Bar,Italian Restaurant,Café,Sandwich Place,Burger Joint,Cocktail Bar
24,"Newham, London, UK",1490.021277,51.530000,0.029318,0,Pub,Bus Station,Café,Park,Yoga Studio,Falafel Restaurant,Food & Drink Shop,Food,Flea Market,Fish Market
32,"Westminster, London, UK",2868.591837,51.500444,-0.126540,2,Coffee Shop,Historic Site,Outdoor Sculpture,Sandwich Place,Pub,Plaza,Café,Garden,Monument / Landmark,Hotel

## Results and discussion

We analysed two sources of data in this report. Hence, we may discuss our results in two main parts. 

In terms of the Metropolitan Police Service Borough Level Crime data, we found that the boroughs with the least crime are: (1) Kingston upon Thames, (2) Richmond upon Thames and (3) Sutton. The boroughs with the most crime are: (1) Westminster, (2) Newham, and (3) Southwark. The quartiles for the crime data are: 893.4, 1106.6, 1271.3, 2868.6 crimes over the course of 24 months. The mean number of crimes is 1118.9. 

Clusters 2, 4 and 5 all showed crime levels below average. However, clusters 1 and 3 showed mixed crime levels across each borough. 

The most common venues were as follows:

Cluster 1 – Pubs, fast food restaurants, parks.

Cluster 2 – Bus stops, grocery stores, convenience stores. 

Cluster 3 – Coffee shops, pubs and clothing stores. 

Cluster 4 – Bakeries, train stations, parks. 

Cluster 5 – Sports clubs, home services, pubs. 

The clusters that would appeal most to families and older people, with fewer pubs and more active spaces and independent stores, are Cluster 4 and Cluster 5 as they offer suitable facilities and low crime rates. Hence, the boroughs of Sutton (4) and Richmond (5) are attractive for family homes and older people. 

Cluster 1 seems to be appropriate for younger residential buyers/renters with more pubs, fast food restaurants and parks. Within Cluster 1, the borough with the least crime is Merton, followed by Bexley. 

Cluster 3 would be fitting for either group, especially families with slightly older children, with a variety of coffee shops, pubs and clothing stores. Within this cluster, the boroughs with the least crime are Kingston upon Thames and Harrow. 

Finally, Cluster 4 appears to have low crime rates, but has much fewer desirable venues such as pubs or cafes. Hence, Barking and Dagenham may be safe but less attractive for buyers/renters.

## Conclusion

The business question that we have answered in this report is: which parts of London are safe and attractive for residential buyers/renters across various demographic groups? To solve this problem, we have assessed the crime rates in each of the London boroughs, and clustered neighborhoods to assess the venues on offer, such as pubs, cafes and parks.

Overall, the ideal borough for a residential buyer/renter depends on the age and venue preference of the individual. However, it seems that the Sutton and Richmond are most suitable for older people or families with young children. Kingston upon Thames and Harrow are ideal for families with older childer. Merton and Bexley are appropriate for young people looking for more pubs and fast food restaurant. Barking and Dagenham is a safe option but with few desirable venues.

Whilst London crime rates have been growing over the last few years, there are many boroughs which are both relatively safe and offer venues which are appealing to all ages. This report acts as a guide to all commercial and residential real estate agents, as well as anybody looking to buy or rent a home in the city, and should inform individuals across all ages.